
/* Color Presets - These classes override global colors when applied to any section or element, providing reuse of the sam color scheme. */

.light-background {
  --background-color: #eef0f2;
  --surface-color: #ffffff;
}

.dark-background {
  --background-color: #3a4753;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --surface-color: #4f6171;
  --contrast-color: #ffffff;
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}


/*--------------------------------------------------------------
# Starter Section Section
--------------------------------------------------------------*/
.starter-section {
  /* Add your styles here */
}

